certification/MCD_Integration_and_API_Associate/mcd-study/src/main/app/ap-essentials-module-02.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="Defaul_HTTP_Listener_Configuration" host="localhost" port="8081" basePath="/mule" doc:name="HTTP Listener Configuration"/>
    <flow name="ap-essentials-module-02Flow">
        <http:listener config-ref="Defaul_HTTP_Listener_Configuration" path="/hello" doc:name="Source - HTTP"/>
        <set-payload value="Hello, #[message.inboundProperties.'http.query.params'.name].  It appears your flow is working correctly." doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
